In [1]:
import pandas as pd
from finlab.data import Data
from sqlalchemy import create_engine, event
from talib import abstract
import _beowSet as bs          #自己寫的
from pandas.tseries.frequencies import to_offset

data = Data()
C     = data.get("收盤價").resample("W", offset="-5D").last()
ma4   = C.ewm(span=4, adjust=True).mean().round(2).stack("stock_id")
ma13  = C.ewm(span=13, adjust=True).mean().round(2).stack("stock_id")
ma52  = C.ewm(span=52, adjust=True).mean().round(2).stack("stock_id")
ma208 = C.ewm(span=208, adjust=True).mean().round(2).stack("stock_id")
H     = data.get("最高價").resample("W", offset="-5D").max().stack("stock_id")
L     = data.get("最低價").resample("W", offset="-5D").min().stack("stock_id")
O     = data.get("開盤價").resample("W", offset="-5D").first().stack("stock_id")

dfW = pd.DataFrame({"O": O, "H": H, "L": L, "C": C.stack("stock_id"), "ma4":ma4, "ma13": ma13,"ma52": ma52,"ma208": ma208})
dfV = pd.DataFrame({"vol": round(data.get("成交股數")/1000).resample("W").sum().stack("stock_id") })

dfW = dfW.merge(dfV, left_index=True, right_on=["date","stock_id"])
dfW.loc[(slice(None),"9962"),:]

,,O,H,L,C,ma4,ma13,ma52,ma208,vol
date,stock_id,,,,,,,,,
2007-04-29,9962,50.60,51.50,46.20,46.50,46.50,46.50,46.50,46.50,6832.0
2007-05-06,9962,46.80,48.80,44.80,47.90,47.37,47.25,47.21,47.20,5938.0
2007-05-13,9962,48.50,50.20,46.30,47.00,47.18,47.16,47.14,47.13,5754.0
2007-05-20,9962,47.40,47.60,44.95,45.05,46.20,46.50,46.59,46.61,3834.0
2007-05-27,9962,45.25,48.60,45.25,46.40,46.29,46.48,46.55,46.56,4874.0
...,...,...,...,...,...,...,...,...,...,...
2022-04-24,9962,21.75,22.00,20.35,20.70,20.88,19.44,16.86,12.97,10982.0
2022-05-01,9962,20.05,20.25,18.10,18.75,20.03,19.34,16.93,13.03,8856.0
2022-05-08,9962,18.80,19.20,18.15,18.30,19.34,19.19,16.98,13.08,3029.0
2022-05-15,9962,18.20,18.25,16.40,16.90,18.36,18.86,16.98,13.12,5914.0
2022-05-22,9962,16.95,17.40,16.20,17.10,17.86,18.60,16.98,13.16,2907.0

In [2]:
dfW.loc[(slice(None),"1524"),:]

,,O,H,L,C,ma4,ma13,ma52,ma208,vol
date,stock_id,,,,,,,,,
2007-04-29,1524,18.00,18.20,17.60,17.70,17.70,17.70,17.70,17.70,3732.0
2007-05-06,1524,17.70,17.80,16.25,17.00,17.26,17.32,17.34,17.35,4796.0
2007-05-13,1524,17.00,17.55,16.70,16.90,17.08,17.16,17.19,17.20,2248.0
2007-05-20,1524,16.95,17.10,16.55,16.60,16.86,16.99,17.03,17.05,2025.0
2007-05-27,1524,16.60,16.85,16.50,16.70,16.79,16.91,16.96,16.98,2626.0
...,...,...,...,...,...,...,...,...,...,...
2022-04-24,1524,10.75,11.20,10.65,11.05,10.81,10.59,10.38,10.07,1930.0
2022-05-01,1524,11.05,11.30,10.25,10.75,10.79,10.62,10.39,10.08,3022.0
2022-05-08,1524,10.75,14.15,10.50,13.90,12.03,11.09,10.53,10.11,62351.0
2022-05-15,1524,13.90,15.50,13.05,14.10,12.86,11.53,10.67,10.15,216440.0
2022-05-22,1524,14.20,19.35,13.70,19.35,15.46,12.66,11.00,10.24,419934.0

In [51]:


pd.set_option('display.expand_frame_repr', False)
# dfW.info(memory_usage='deep')
dfW.loc[("2022-05-04","3221"),:]
# print(dfW)
# print(dfW.loc[("2022-05-08","3221"),:])

                     close   high    low   open    ma4   ma13   ma52  ma208
date       stock_id
2022-05-04 3221      37.75  37.75  37.75  37.75  85.03  77.39  70.83   65.8

In [6]:

import numpy as np               # basic        ###### 
import pandas as pd              #   
import pandas_datareader as pdr  # get data     ######
import matplotlib.pyplot as plt  # visual       ######
import mplfinance as mpf        
%matplotlib inline
import seaborn as sns
import datetime as datetime      #time          ######    
import talib

start = datetime.datetime(2021,3,1)
dfD = pdr.DataReader('1524.TW', 'yahoo', start=start)
dfD.index.name = 'Date'
aggregation = {'Open':'first', 'High':'max','Low':'min','Close':'last','Volume':'sum'}

dfW = dfD.resample("1W").agg(aggregation)
dfM = dfD.resample("1M").agg(aggregation)


myStyle = mpf.make_mpf_style(
            marketcolors= mpf.make_marketcolors(up='r',down='g',edge='white',wick={'up':'red','down':'g'},volume='gray',ohlc='black')
            ,mavcolors=['#aaaeee','#FF00FF','#1f77b4','#ff7f0e'])
kwargs=dict(volume=True, type='candle', tight_layout=True, style=myStyle, figscale=1.25, warn_too_much_data=1500)

dates = ["2022-02-21","2022-05-24"]
datepairs = [(d1,d2) for d1,d2 in zip(dates,dates[1:])]

tlines=[
    dict(tlines=datepairs,tline_use='high',colors='g', tline_method="point-to-point",linestyle='dotted', linewidths = 0.5),
    dict(tlines=datepairs,tline_use='low',colors='b'),
    dict(tlines=datepairs,tline_use=['open','close'],colors='r')
]


print(datepairs)
mpf.plot(dfD, **kwargs, title="Daily", mav=(5,20,60,240), tlines = tlines)
mpf.plot(dfW, **kwargs, title="Weekly", mav=(4,13,52,208), tlines = tlines)
mpf.plot(dfM, **kwargs, title="Monthly", mav=(4,12,48,120), tlines = tlines)

NameError: name 'datepairs' is not defined