In [ ]:
import pandas as pd
import numpy as np

pd.__version__
pd.show_versions()  #找出所有目前相依的所有套件版本?

In [18]:
df = pd.DataFrame({"AA":[100,200],"BB":[2,4]})

pd.DataFrame(np.random.rand(4,8))
df2 = pd.DataFrame(np.random.rand(4,8), columns=list("abcdefgh"))
df2

,a,b,c,d,e,f,g,h
0,0.139169,0.388713,0.261977,0.044855,0.714734,0.964041,0.148168,0.755585
1,0.963414,0.393218,0.731870,0.596718,0.634391,0.641458,0.225603,0.959417
2,0.197151,0.669187,0.228874,0.177103,0.686638,0.140070,0.283177,0.761127
3,0.706658,0.693652,0.218316,0.970159,0.759663,0.025979,0.025409,0.595671

In [21]:
#3 Rename Columns
df2 = df2.rename({"a": "a_1", "b":"b_2"}, axis="columns")
df2

df2.columns = df2.columns.str.replace("_", " ")
df

df2 = df2.add_prefix("x_")
df2

,x_a 1,x_b 2,x_c,x_d,x_e,x_f,x_g,x_h
0,0.139169,0.388713,0.261977,0.044855,0.714734,0.964041,0.148168,0.755585
1,0.963414,0.393218,0.731870,0.596718,0.634391,0.641458,0.225603,0.959417
2,0.197151,0.669187,0.228874,0.177103,0.686638,0.140070,0.283177,0.761127
3,0.706658,0.693652,0.218316,0.970159,0.759663,0.025979,0.025409,0.595671

In [ ]:
#4 Revser row order

dr